.container,
#background {
    display: none;
}

.loading-screen {
    position: relative;
    height: 100vh;
    /* 画面の高さを100%に設定 */
    width: 100vw;
    /* 画面の幅を100%に設定 */
}

.animation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
}

@media screen and (max-width: 640px) and (hover: none) and (pointer: coarse) {
    .col-lg-4.col-md-12 {
        margin-bottom: 2rem;
    }
}

#background {
    position: fixed;
    background-color: #55006e;

    img {
        opacity: 0.5;
    }
}

.flash-text {
    color: #e6b422;
    text-shadow: 0 0 10px #f6f890, 0 0 15px #f6f890;
    padding: 20px;
    text-align: center;
    letter-spacing: 0.2em;
}

body {
    font-family: 'Open Sans', sans-serif;
}

body>div>div>div {

    h1,
    h3 {
        color: antiquewhite;
    }
}

/* カード本体 */
.card {
    width: 100%;
    /* 任意の横幅を指定 */
    position: relative;
    background-color: #55006e !important;
}

/* 擬似要素とpadding-topでカードの高さを指定 */
.card::before {
    content: "";
    display: block;
    padding-top: 142.5%;
}


/* カード内の画像 */
.card img,
.card .front-info {
    width: 100%;
}

.card .front-info {
    padding: 1.5rem;
    background: rgba(0, 0, 0, 0.6);
    height: 100%;

    p,
    h5 {
        color: #ffffff;
    }

    p {
        font-size: 1.5rem;
    }
}

/* カード裏面・表面の共通スタイル */
.card .back,
.card .front {
    transition: all 0.6s;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}

/* カード表面のスタイル */
.card .front {
    .front-info.contact {
        height: 100%;
    }
}

.card {
    i {
        color: antiquewhite;
        font-size: 3rem;
        cursor: pointer;
    }

    .front {
        transform: rotateY(-180deg);
    }

    img.top-image {
        margin: 5rem 1rem 0 1rem;
    }
}

iframe {
    border-radius: 1rem;
}

.col-lg-4,
.col-md-12 {
    margin-top: 1rem;
}

.instagram-media {
    background: white !important;
    width: 100% !important;
    max-width: 297px !important;
    min-width: 297px !important;
    border-radius: 3px !important;
    border: 1px solid rgb(219, 219, 219) !important;
    box-shadow: none !important;
    display: block !important;
    margin: 0px 0px 12px !important;
    padding: 0px !important;
    height: 420px !important;
}